@import './vars.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: var(--tdr-font-family-base);
}
